* {
    padding: 0;
    margin: 0;
}


.header {
    background: #00dc43;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    list-style: none;
    justify-content: space-between;
    
    display: flex;
    width: 50%;
}

.logo {
    font-size: 50px; /* размер шрифта */
    color: #6e00dc;
}

.nav__link {
    text-decoration: none; /*убиарет подчеркивания */
    font-size: 25px;
    color: #6e00dc;
    transition: 0.5s; /* переход анимации */
}

.nav__link:hover {
    color: aliceblue;
    font-size: 28px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.header__menu {
    position: absolute;
    z-index: 1;
    background-color: rgba( 10, 236, 188, 0.7);
    width: 300px;
    height: 150px;
    padding: 40px;
    display: none;
}

.is-active {
    display: block;
}

.google__container {
    margin: 0 auto;
}

.google__map{
    font-style:italic;
}

.footer {
    border-top: 3px solid #6e00dc;
}

.container_footer {
    padding: 30px 0;
}

.theme__light {
    width: 20px;
    height: 20px;
    background: skyblue;
    border-radius: 100%;
    cursor: pointer;
}

.theme__dark {
    width: 20px;
    height: 20px;
    background: darkslategray;
    border-radius: 100%;
    cursor: pointer;
}

.burger {
    display: none;
}

.burger__line {
    width: 50px;
    height: 6px;
    background-color: white;
    margin: 10px;
    transition: all .3s ease;
}

.cards__list {
    display: flex;
}

@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }


    .nav__list {
        display: none;
    }

    .container {
        max-width: 600px;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .active .burger__line_1 {
        transform: rotate(-45deg) translate(-10px, 12px);
    }

    .active .burger__line_2 {
        opacity: 0;
    }

    .active .burger__line_3 {
        transform: rotate(45deg) translate(-10px, -12px);
    }



    .nav__list {
        display: flex;
        flex-direction: column;
        background-color: skyblue;
        position: absolute;
        right: 0px;
        height: 40vh; /* почти как % */
        top: 220px;
        z-index: 2;
        align-items: center;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav__list_active {
        transform: translateX(0%);
    }
}

